/*--- Custom CSS for UCSB Tidy Tuesday website ---*/

/*--- Import fonts ---*/

@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600&display=swap');

.home-section:nth-of-type(2n) {
    background-color: #EDEDED;
}

/*-------- NavBar --------*/
.navbar {
    height: 70px;
    background: #525666;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,0.11);
    font-size: 20px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0 1rem;
    color: white;
}

.nav-item {
    position: relative;
    padding-left: 20px;
}

.navbar-light .navbar-brand {
    font-family: 'Hind';
    color: white;
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: white;
}

.fa, .fas {
    font-weight: 900;
    color: #1D9C9A;
}

#navbar-main .main-menu-item ul li .nav-link {
    color: white;
    font-family: 'Hind';
    background: #525666;
}

.navbar .navbar-nav .nav-link.active {
    font-family: 'Hind';
    font-weight: bold !important;
    color: white !important;
    text-decoration: underline;
}

/*-------- Avatar title --------*/
.portrait-title h2 {
    font-size: 1.75em;
    font-weight: 300;
    color: #12818A;
    margin: 20px 0 10px 0;
    font-family: 'Hind';
}
/*-------- Home section color & body font --------*/

.home-section {
    padding: 50px 0 50px 0;
        padding-top: 50px;
    animation: intro 0.3s both;
        animation-delay: 0s;
    animation-delay: 0.15s;
}

/*--- Body font ---*/
body {
    font-family: 'Hind';
    font-size: 1rem;
    font-weight: 300;
    line-height: inherit;
    color: inherit;
    background-color: white;
}

/*--- Update title and header fonts ---*/

h1 {
  color: #12818A;
  font-family: 'Hind', serif;
  font-size: 18;
}

h2 {
  color: #1D9C9A;
  font-family: 'Hind', serif;
  font-size: 16;
}

h3 {
  color: #1D9C9A;
  font-family: 'Hind', serif;
  font-size: 14;
}

h4 {
  color: #1D9C9A;
  font-family: 'Hind', serif;
  font-size: 12;
}

/*------- Hyperlinks -------*/

a {
    color: #12818A;
}

a:hover, a:focus {
    color: #1D9C9A;
}

/*------- Post title -------*/
h3.article-title a:hover {
    color: #1D9C9A;
    text-decoration: none;
    transition: color 0.6s ease;
}

.article-title a {
    color: #696d7d;
    transition: color 0.6s ease;
}

/*------ Ordered interests lists formatting -------*/
/* ------- for pets section -------- */
ul.ul-interests li {
    font-size: 0.9rem;
    width: 200%;
}
